
<%- include('partials/header'); -%>

<h1>Home</h1>
<p><%= startingContent%></p>

<% posts.forEach(function(post) {%>
  <h1><a href="/post/<%=post.title%>" style="color:black;text-decoration:none;"><%= post.title%></a></h1>
  <p><%= post.content.substring(0,100) + " ..."%><a href="/post/<%=post.title%>">Read More</a></p>
<%});%>

<%- include('partials/footer'); -%>
